.wrapper {
  font-family: var(--baseFontFace);
  color: var(--normalTextColor);
  background: var(--lightBackgroundColor);
  font-size: 18px;
  transition: 150ms background linear;
  min-height: 100vh;
}

.content {
  max-width: var(--pageWidth);
  margin: 0 auto;
  padding: 16px;
}
