.wrapper {
  margin: 96px 0 48px;

  @media (min-width: 900px) {
    display: flex;
  }
}

.linkWrapper + .linkWrapper:before {
  content: '•';
  display: inline-block;
  margin: 0 8px;
  color: var(--lightTextColor);
}

.link {
  font-size: 16px;
  text-decoration: none;
  color: var(--lightTextColor);

  &:hover {
    background-color: var(--highlightTextColor);
    color: var(--highlightTextHoverColor);
  }
}

.links {
  flex: 1;

  @media (max-width: 900px) {
    margin-bottom: 24px;
  }
}
