.wrapper {
  margin: 96px 0 48px;
}

.linkWrapper + .linkWrapper:before {
  content: '•';
  display: inline-block;
  margin: 0 8px;
  color: var(--lightTextColor);
}

.link {
  font-size: 16px;
  text-decoration: none;
  color: var(--lightTextColor);

  &:hover {
    background-color: var(--highlightTextColor);
    color: #fff;
  }
}
