.postTitle {
  font-size: 40px;
  line-height: 1.2;
  margin: 8px 0 16px 0;
  font-weight: bold;
}

.postDate {
  color: var(--lightTextColor);
  margin-bottom: 48px;
}

.backButton {
  font-family: -apple-system, BlinkMacSystemFont, 'system-ui', var(--baseFontFace);
  display: block;
  padding: 10px 0;
  margin: -10px 0;
  font-size: 32px;
  text-decoration: none;
  color: var(--highlightTextColor);
  transition: transform 200ms ease;

  &:hover,
  &:focus {
    box-shadow: none;
    transform: translate3d(-10px, 0, 0);
  }
}
