@import '../../variables.scss';

.postTitle {
  font-size: 2.75rem;
  line-height: 1.2;
  margin: 0.5rem 0 2rem 0;
  font-weight: bold;
}

.postDate {
  color: $lightTextColor;
  margin-bottom: 2rem;
}

.backButton {
  font-family: -apple-system, BlinkMacSystemFont, 'system-ui', $baseFontFace;
  display: block;
  padding: 10px 0;
  margin: -10px 0;
  font-size: 2rem;
  text-decoration: none;
  color: $highlightTextColor;
  transition: transform 200ms ease;

  &:hover {
    transform: translate3d(-10px, 0, 0);
  }
}
