.wrapper {
  margin-top: 48px;
}

.title {
  color: var(--lightTextColor);
}

.list {
  margin-top: 24px;
}

.post {
  margin-bottom: 24px;
}

.postLink {
  text-decoration: none;
  display: block;
  padding: 0.5rem 0 0.5rem 1rem;
  border-left: 2px solid var(--mediumBackgroundColor);
  transition: border 150ms linear;

  &:hover {
    border-color: var(--highlightTextColor);
  }
}

.postTitle {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: bold;
  color: #000;
  margin-bottom: 8px;
  display: block;
}

.postDate {
  color: var(--lightTextColor);
  font-size: 0.95rem;
}
