.wrapper {
  margin-top: 48px;
}

.title {
  color: var(--lightTextColor);
}

.list {
  margin-top: 24px;
}

.post {
  margin-bottom: 24px;
}

.postLink {
  position: relative;
  text-decoration: none;
  display: block;
  padding: 8px 0 8px 16px;

  &::before {
    transition: border 150ms linear;
    position: absolute;
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--mediumBackgroundColor);
    border-radius: 6px;
  }

  &:hover::before {
    background: var(--highlightTextColor);
  }
}

.postTitle {
  font-size: 22px;
  line-height: 1.4;
  font-weight: bold;
  color: #000;
  margin-bottom: 8px;
  display: block;
}

.postDate {
  color: var(--lightTextColor);
  font-size: 16px;
}
