// Font families
$baseFontFace: 'IBM Plex Sans';
$baseFontFamily: $baseFontFace, 'system-ui', sans-serif;
$monoFontFamily: 'Menlo', 'Source Code Pro', serif;

// Brand colors
$fluorishColor01: #3c58d4; // square
$fluorishColor02: #ffe4ae; // circle
$fluorishColor03: #ffbebe; // line

// Colors
$lightBackgroundColor: #f5f9fb;
$mediumBackgroundColor: #ced6da;
$lightTextColor: #abb4c8;
$highlightTextColor: $fluorishColor01;
$warningBackgroundColor: $fluorishColor02;

// Syntax theme
$syntaxThemeColor00: $lightBackgroundColor;
$syntaxThemeColor01: #1c2325;
$syntaxThemeColor02: #93a1a1;
$syntaxThemeColor03: #99c794;
$syntaxThemeColor04: #ec5f67;
$syntaxThemeColor05: #f18100;
$syntaxThemeColor06: #5299e0;
