@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,600,600i&display=swap');

:root {
  /* Font families */
  --baseFontFace: 'IBM Plex Sans';
  --baseFontFamily: 'IBM Plex Sans', 'system-ui', sans-serif;
  --monoFontFamily: 'Menlo', 'Source Code Pro', serif;
  --pageWidth: 760px;
}

.light {
  /* Brand colors */
  --fluorishColor01: #345feb; /* square */
  --fluorishColor02: #ffdfa0; /* circle */
  --fluorishColor03: #f7a5a5; /* line */

  /* Colors */
  --lightBackgroundColor: #ffffff;
  --mediumBackgroundColor: #d6dfe4;
  --normalTextColor: #101c32;
  --lightTextColor: #abb4c8;
  --highlightTextColor: var(--fluorishColor01);
  --highlightTextHoverColor: #ffffff;
  --warningBackgroundColor: var(--fluorishColor02);
  --warningTextColor: var(--normalTextColor);
  --focusShadowColor: rgba(255, 170, 43, 0.76);

  /* Syntax theme */
  --syntaxThemeColor00: #101c32;
  --syntaxThemeColor01: #cdd2d6;
  --syntaxThemeColor02: #5e7877;
  --syntaxThemeColor03: #66cec4;
  --syntaxThemeColor04: #ffa1c5;
  --syntaxThemeColor05: #f3c384;
  --syntaxThemeColor06: #88ace8;
}

.dark {
  /* Brand colors */
  --fluorishColor01: #00a1ff; /* square */
  --fluorishColor02: #ffdfa0; /* circle */
  --fluorishColor03: #f7a5a5; /* line */

  /* Colors */
  --lightBackgroundColor: #060e1c;
  --mediumBackgroundColor: #162746;
  --normalTextColor: #cdd2d6;
  --lightTextColor: #616c82;
  --highlightTextColor: var(--fluorishColor01);
  --highlightTextHoverColor: #000000;
  --warningBackgroundColor: #ffc85f;
  --warningTextColor: #060e1c;
  --focusShadowColor: #ffc762;

  /* Syntax theme */
  --syntaxThemeColor00: #101c32;
  --syntaxThemeColor01: #cdd2d6;
  --syntaxThemeColor02: #5e7877;
  --syntaxThemeColor03: #66cec4;
  --syntaxThemeColor04: #ffa1c5;
  --syntaxThemeColor05: #f3c384;
  --syntaxThemeColor06: #88ace8;
}
